.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.normal {
  background-color: #a6a877e0;
}

.grass {
  background-color: #63a743e0;
}

.fire {
  background-color: #ee7f30e0;
}

.water {
  background-color: #678feee0;
}

.electric {
  background-color: #d1af26e0;
}

.ice {
  background-color: #98d5d7e0;
}

.ground {
  background-color: #dfbf69e0;
}

.flying {
  background-color: #a98ff0e0;
}

.poison {
  background-color: #a04fa0e0;
}

.fighting {
  background-color: #8d231de0;
}

.psychic {
  background-color: #961f42e0;
}

.dark {
  background-color: #725847e0;
}

.rock {
  background-color: #b8a137e0;
}

.bug {
  background-color: #a8b720e0;
}

.ghost {
  background-color: #6e5896e0;
}

.steel {
  background-color: #b9b7cfe0;
}

.dragon {
  background-color: #6f38f6e0;
}

.fairy {
  background-color: #f9aec7e0;
}

.normal.show {
  background-color: #a6a877;
}

.grass.show {
  background-color: #63a743;
}

.fire.show {
  background-color: #ee7f30;
}

.water.show {
  background-color: #678fee;
}

.electric.show {
  background-color: #d1af26;
}

.ice.show {
  background-color: #98d5d7;
}

.ground.show {
  background-color: #dfbf69;
}

.flying.show {
  background-color: #a98ff0;
}

.poison.show {
  background-color: #a04fa0;
}

.fighting.show {
  background-color: #8d231d;
}

.psychic.show {
  background-color: #961f42;
}

.dark.show {
  background-color: #725847;
}

.rock.show {
  background-color: #b8a137;
}

.bug.show {
  background-color: #a8b720;
}

.ghost.show {
  background-color: #6e5896;
}

.steel.show {
  background-color: #b9b7cf;
}

.dragon.show {
  background-color: #6f38f6;
}

.fairy.show {
  background-color: #f9aec7;
}

.grass.poison {
  background: rgba(141, 185, 154, 0.85);
  background: linear-gradient(
    190deg,
    rgba(102, 159, 74, 0.85) 0%,
    rgb(101, 177, 124, 0.85) 40%,
    rgba(180, 59, 180, 0.85) 70%,
    rgb(133, 54, 133, 0.85) 100%
  );
}

.fire.flying {
  background: rgb(152, 100, 63, 0.85);
  background: linear-gradient(
    190deg,
    rgba(152, 100, 63, 0.85) 0%,
    rgba(238, 127, 48, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.normal.flying {
  background: rgb(136, 139, 65, 0.85);
  background: linear-gradient(
    190deg,
    rgba(136, 139, 65, 0.85) 0%,
    rgba(166, 168, 119, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.bug.flying {
  background: rgb(142, 153, 47, 0.85);
  background: linear-gradient(
    190deg,
    rgba(142, 153, 47, 0.85) 0%,
    rgba(168, 183, 32, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.bug.poison {
  background: rgb(142, 153, 47, 0.85);
  background: linear-gradient(
    190deg,
    rgba(142, 153, 47, 0.85) 0%,
    rgba(168, 183, 32, 0.85) 35%,
    rgba(180, 59, 180, 0.85) 70%,
    rgb(133, 54, 133, 0.85) 100%
  );
}

.poison.ground {
  background: rgb(160, 79, 160, 0.85);
  background: linear-gradient(
    190deg,
    rgba(160, 79, 160, 0.85) 0%,
    rgba(180, 59, 180, 0.85) 35%,
    rgba(223, 191, 105, 0.85) 70%,
    rgba(208, 179, 99, 0.85) 100%
  );
}

.normal.fairy {
  background: rgb(160, 79, 160, 0.85);
  background: linear-gradient(
    190deg,
    rgba(136, 139, 65, 0.85) 0%,
    rgba(166, 168, 119, 0.85) 35%,
    rgba(237, 9, 220, 0.4) 70%,
    rgba(237, 9, 220, 0.35) 100%
  );
}

.poison.flying {
  background: rgb(160, 79, 160, 0.85);
  background: linear-gradient(
    190deg,
    rgba(160, 79, 160, 0.85) 0%,
    rgba(180, 59, 180, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.bug.grass {
  background: rgb(142, 153, 47, 0.85);
  background: linear-gradient(
    190deg,
    rgba(142, 153, 47, 0.85) 0%,
    rgba(168, 183, 32, 0.85) 35%,
    rgba(102, 159, 74, 0.85) 70%,
    rgb(101, 177, 124, 0.85) 100%
  );
}

.water.fighting {
  background: rgb(103, 143, 238, 0.85);
  background: linear-gradient(
    190deg,
    rgba(103, 143, 238, 0.85) 0%,
    rgba(95, 139, 244, 0.85) 35%,
    rgba(157, 41, 34, 0.85) 70%,
    rgba(141, 35, 29, 0.85) 100%
  );
}

.water.poison {
  background: rgb(103, 143, 238, 0.85);
  background: linear-gradient(
    190deg,
    rgba(103, 143, 238, 0.85) 0%,
    rgba(95, 139, 244, 0.85) 35%,
    rgba(180, 59, 180, 0.85) 70%,
    rgb(133, 54, 133, 0.85) 100%
  );
}

.rock.ground {
  background: rgb(184, 161, 55, 0.85);
  background: linear-gradient(
    190deg,
    rgb(124, 104, 13, 0.85) 0%,
    rgb(184, 154, 18, 0.85) 35%,
    rgba(223, 191, 105, 0.85) 70%,
    rgba(208, 179, 99, 0.85) 100%
  );
}

.water.psychic {
  background: rgb(103, 143, 238, 0.85);
  background: linear-gradient(
    190deg,
    rgba(103, 143, 238, 0.85) 0%,
    rgba(95, 139, 244, 0.85) 35%,
    rgba(171, 25, 68, 0.85) 70%,
    rgba(150, 31, 66, 0.85) 100%
  );
}

.electric.steel {
  background: rgb(247, 207, 46, 0.85);
  background: linear-gradient(
    190deg,
    rgba(247, 207, 46, 0.85) 0%,
    rgba(247, 207, 46, 0.85) 35%,
    rgba(185, 183, 207, 0.85) 70%,
    rgba(185, 183, 207, 0.85) 100%
  );
}

.water.ice {
  background: rgb(103, 143, 238, 0.85);
  background: linear-gradient(
    190deg,
    rgba(103, 143, 238, 0.85) 0%,
    rgba(95, 139, 244, 0.85) 35%,
    rgba(152, 213, 215, 0.85) 70%,
    rgba(152, 213, 215, 0.85) 100%
  );
}

.ghost.poison {
  background: rgb(110, 88, 150, 0.85);
  background: linear-gradient(
    190deg,
    rgba(110, 88, 150, 0.85) 0%,
    rgba(110, 88, 150, 0.85) 35%,
    rgba(180, 59, 180, 0.85) 70%,
    rgb(133, 54, 133, 0.85) 100%
  );
}

.grass.psychic {
  background: rgb(141, 185, 154, 0.85);
  background: linear-gradient(
    190deg,
    rgba(102, 159, 74, 0.85) 0%,
    rgb(101, 177, 124, 0.85) 40%,
    rgba(171, 25, 68, 0.85) 70%,
    rgba(150, 31, 66, 0.85) 100%
  );
}

.ground.rock {
  background: rgb(184, 161, 55, 0.85);
  background: linear-gradient(
    190deg,
    rgba(208, 179, 99, 0.85) 0%,
    rgba(223, 191, 105, 0.85) 35%,
    rgb(184, 154, 18, 0.85) 70%,
    rgb(143, 120, 18, 0.85) 100%
  );
}

.psychic.fairy {
  background: rgb(150, 31, 66, 0.85);
  background: linear-gradient(
    190deg,
    rgba(150, 31, 66, 0.85) 0%,
    rgba(171, 25, 68, 0.85) 35%,
    rgba(237, 9, 220, 0.4) 70%,
    rgba(237, 9, 220, 0.35) 100%
  );
}

.ice.psychic {
  background: rgb(152, 213, 215, 0.85);
  background: linear-gradient(
    190deg,
    rgba(152, 213, 215, 0.85) 0%,
    rgba(152, 213, 215, 0.85) 50%,
    rgba(171, 25, 68, 0.85) 65%,
    rgba(150, 31, 66, 0.85) 100%
  );
}

.water.flying {
  background: rgb(103, 143, 238, 0.85);
  background: linear-gradient(
    190deg,
    rgba(103, 143, 238, 0.85) 0%,
    rgba(95, 139, 244, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.rock.water {
  background: rgb(184, 161, 55, 0.85);
  background: linear-gradient(
    190deg,
    rgb(124, 104, 13, 0.85) 0%,
    rgb(184, 154, 18, 0.85) 35%,
    rgba(95, 139, 244, 0.85) 70%,
    rgba(103, 143, 238, 0.85) 100%
  );
}

.rock.flying {
  background: rgb(184, 161, 55, 0.85);
  background: linear-gradient(
    190deg,
    rgb(124, 104, 13, 0.85) 0%,
    rgb(184, 154, 18, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.ice.flying {
  background: rgb(152, 213, 215, 0.85);
  background: linear-gradient(
    190deg,
    rgba(152, 213, 215, 0.85) 0%,
    rgba(152, 213, 215, 0.85) 50%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.electric.flying {
  background: rgb(247, 207, 46, 0.85);
  background: linear-gradient(
    190deg,
    rgba(247, 207, 46, 0.85) 0%,
    rgba(247, 207, 46, 0.85) 35%,
    rgba(140, 114, 214, 0.85) 70%,
    rgba(106, 64, 219, 0.85) 100%
  );
}

.dragon.flying {
  background: rgb(111, 56, 246, 0.85);
  background: linear-gradient(
    190deg,
    rgba(111, 56, 246, 0.85) 0%,
    rgba(104, 45, 249, 0.85) 35%,
    rgba(141, 114, 214, 0.85) 70%,
    rgba(105, 64, 219, 0.85) 100%
  );
}

li.pokemon:hover {
  transform: scale(1.05);
  transition-delay: 0.1s;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  padding: 1rem;
  width: 75%;
  border-radius: 1rem;
}

.pokemon .number {
  text-align: right;
}

.pokemon .order-number {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 2.5rem;
  border-radius: 1rem;
  color: #000;
  opacity: 0.5;
  text-align: center;
  font-size: 0.825rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  border-radius: 1rem;
  text-align: center;
  filter: brightness(1.1);
}

.pokemon .detail img {
  max-width: 100px;
  height: 70px;
  margin-right: 0.5rem;
}

.pokemon-btn {
  cursor: pointer;
  text-transform: capitalize;
  margin: auto;
  position: relative;
  top: 5px;
  color: #efefef;
  font-size: 0.9rem;
}

.pokemon-btn:hover {
  color: #fefefe;
  text-decoration: underline;
}

.electric .pokemon-btn,
.electric .name,
.ground .pokemon-btn,
.ground .name,
.poison.ground .pokemon-btn,
.pokemon .detail .types .type.ground,
.pokemon .detail .types .type.electric {
  color: #ffffff;
}

.pokemon .detail .types .type.poison,
.poison .name,
.rock .name,
.rock .pokemon-btn,
.poison .pokemon-btn {
  color: #dbdbdb;
}

.pokemon .detail .types .type.steel {
  color: #fafafa;
}

.electric .pokemon-btn:hover {
  color: #a8a8a8;
  text-decoration: underline;
}

/* .stats-board {
  list-style: none;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
} */

.types,
.main-stats,
.poke-stats {
  list-style: none;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0.5rem;
  font-weight: 500;
  /* background-color: #ffffff25; */
}

.stats-align {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.c-text {
  text-transform: capitalize;
}

.main-story {
  text-transform: capitalize;
}

/* .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    margin: .25rem 0;
    padding: .25rem .5rem;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}*/

@media screen and (min-width: 420px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }

  .pokemon {
    margin: 0.5rem;
    width: auto;
  }
}

@media screen and (min-width: 620px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pokemon {
    margin: 0.5rem;
    width: auto;
  }

  .pokemon .order-number {
    width: 2.25rem;
    font-size: 0.825rem;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .pokemon {
    margin: 0.5rem;
    width: auto;
  }

  .pokemon .order-number {
    width: 2.5rem;
    font-size: 0.875rem;
  }
}
